body{
			position: fixed;
			top: 50px; /* Set this to the height of the header */
			bottom: 50px; /* Set this to the height of the footer */
			left: 200px; 
			right: 200px;
			overflow: auto; 
			background: #fff;
		}